{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<body>
    <div class="welcome">
        <div class="profile-preview">
            <img src="{{ user.profile.profile_picture.url }}" alt="Profile Picture" class="profile-img">
            <div>
                <h3>Welcome, {{ user.username }}!</h3>
                <p>You are successfully logged in.</p>
            </div>
        </div>
    </div>
<h1>Patient List</h1>

<p>
    <a href="{% url 'add_patient' %}">Add Patient</a>
</p>

<table border="1" cellpadding="8">
    <tr>
        <th>Date</th>
        <th>Patient ID</th>
        <th>Name</th>
        <th>CNIC</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Blood Group</th>
        <th>Doctor</th>
        <th>Status</th>
        <th>Actions</th>
        <th>Prescription</th>
    </tr>

    {% for patient in patients %}
    <tr>
        <td>{{ patient.date }}</td>
        <td>{{ patient.patient_id }}</td>
        <td>{{ patient.patient_name }}</td>
        <td>{{ patient.cnic }}</td>
        <td>{{ patient.phone }}</td>
        <td>{{ patient.email }}</td>
        <td>{{ patient.gender }}</td>
        <td>{{ patient.blood_group }}</td>
        <td>{{ patient.assigned_doctor }}</td>
        <td>{{ patient.fee }}</td>
        <td>{{ patient.status }}</td>
        <td>{{ patient.prescription }}</td>
        
        <td>
            <a href="{% url 'edit_patient' patient.id %}">
                Edit
            </a>
        
          
                <a href="{% url 'patient_detail' patient.id %}">
                    View
                </a>
         
        
            <a href="{% url 'delete_patient' patient.id %}"
               onclick="return confirm('Delete Patient?')">
                Delete
            </a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="9">No Patients Found</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>